/* line 3, vendor/assets/MDB/scss/addons/_directives.scss */
.opacity-0 {
  opacity: 0;
}

/* line 3, vendor/assets/MDB/scss/addons/_directives.scss */
.opacity-10 {
  opacity: 0.1;
}

/* line 3, vendor/assets/MDB/scss/addons/_directives.scss */
.opacity-20 {
  opacity: 0.2;
}

/* line 3, vendor/assets/MDB/scss/addons/_directives.scss */
.opacity-30 {
  opacity: 0.3;
}

/* line 3, vendor/assets/MDB/scss/addons/_directives.scss */
.opacity-40 {
  opacity: 0.4;
}

/* line 3, vendor/assets/MDB/scss/addons/_directives.scss */
.opacity-50 {
  opacity: 0.5;
}

/* line 3, vendor/assets/MDB/scss/addons/_directives.scss */
.opacity-60 {
  opacity: 0.6;
}

/* line 3, vendor/assets/MDB/scss/addons/_directives.scss */
.opacity-70 {
  opacity: 0.7;
}

/* line 3, vendor/assets/MDB/scss/addons/_directives.scss */
.opacity-80 {
  opacity: 0.8;
}

/* line 3, vendor/assets/MDB/scss/addons/_directives.scss */
.opacity-90 {
  opacity: 0.9;
}

/* line 3, vendor/assets/MDB/scss/addons/_directives.scss */
.opacity-100 {
  opacity: 1;
}

/* line 9, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 1000px;
}

/* line 14, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns div {
  flex: 1 0 auto;
  background: #00997B;
  color: white;
  margin: 0 1rem 1rem 0;
  text-align: center;
  font-weight: 900;
  font-size: 2rem;
}

/* line 24, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns div:nth-child(1) {
  height: 327px;
  line-height: 327px;
}

/* line 24, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns div:nth-child(2) {
  height: 164px;
  line-height: 164px;
}

/* line 24, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns div:nth-child(3) {
  height: 451px;
  line-height: 451px;
}

/* line 24, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns div:nth-child(4) {
  height: 110px;
  line-height: 110px;
}

/* line 24, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns div:nth-child(5) {
  height: 149px;
  line-height: 149px;
}

/* line 24, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns div:nth-child(6) {
  height: 356px;
  line-height: 356px;
}

/* line 24, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns div:nth-child(7) {
  height: 474px;
  line-height: 474px;
}

/* line 24, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns div:nth-child(8) {
  height: 329px;
  line-height: 329px;
}

/* line 24, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns div:nth-child(9) {
  height: 268px;
  line-height: 268px;
}

/* line 24, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns div:nth-child(10) {
  height: 307px;
  line-height: 307px;
}

/* line 24, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns div:nth-child(11) {
  height: 359px;
  line-height: 359px;
}

/* line 24, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns div:nth-child(12) {
  height: 313px;
  line-height: 313px;
}

/* line 24, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns div:nth-child(13) {
  height: 379px;
  line-height: 379px;
}

/* line 24, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns div:nth-child(14) {
  height: 274px;
  line-height: 274px;
}

/* line 24, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns div:nth-child(15) {
  height: 129px;
  line-height: 129px;
}

/* line 24, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns div:nth-child(16) {
  height: 111px;
  line-height: 111px;
}

/* line 24, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns div:nth-child(17) {
  height: 229px;
  line-height: 229px;
}

/* line 24, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns div:nth-child(18) {
  height: 187px;
  line-height: 187px;
}

/* line 24, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns div:nth-child(19) {
  height: 454px;
  line-height: 454px;
}

/* line 24, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns div:nth-child(20) {
  height: 361px;
  line-height: 361px;
}

/* line 24, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns div:nth-child(21) {
  height: 296px;
  line-height: 296px;
}

/* line 24, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns div:nth-child(22) {
  height: 224px;
  line-height: 224px;
}

/* line 24, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns div:nth-child(23) {
  height: 183px;
  line-height: 183px;
}

/* line 24, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns div:nth-child(24) {
  height: 323px;
  line-height: 323px;
}

/* line 24, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns div:nth-child(25) {
  height: 376px;
  line-height: 376px;
}

/* line 24, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns div:nth-child(26) {
  height: 377px;
  line-height: 377px;
}

/* line 24, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns div:nth-child(27) {
  height: 410px;
  line-height: 410px;
}

/* line 24, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns div:nth-child(28) {
  height: 437px;
  line-height: 437px;
}

/* line 24, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns div:nth-child(29) {
  height: 310px;
  line-height: 310px;
}

/* line 24, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns div:nth-child(30) {
  height: 206px;
  line-height: 206px;
}

/* line 24, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns div:nth-child(31) {
  height: 446px;
  line-height: 446px;
}

/* line 24, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns div:nth-child(32) {
  height: 254px;
  line-height: 254px;
}

/* line 24, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns div:nth-child(33) {
  height: 438px;
  line-height: 438px;
}

/* line 24, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns div:nth-child(34) {
  height: 417px;
  line-height: 417px;
}

/* line 24, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns div:nth-child(35) {
  height: 215px;
  line-height: 215px;
}

/* line 24, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns div:nth-child(36) {
  height: 303px;
  line-height: 303px;
}

/* line 33, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns-2 {
  display: flex;
  flex-wrap: wrap;
}

/* line 36, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns-2 div {
  height: 150px;
  line-height: 150px;
  background: #9B1B30;
  color: white;
  margin: 0 1rem 1rem 0;
  text-align: center;
  font-weight: 900;
  font-size: 2rem;
  flex: 1 0 auto;
}

/* line 48, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns-2 div:nth-child(1) {
  width: 242px;
}

/* line 48, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns-2 div:nth-child(2) {
  width: 89px;
}

/* line 48, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns-2 div:nth-child(3) {
  width: 284px;
}

/* line 48, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns-2 div:nth-child(4) {
  width: 248px;
}

/* line 48, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns-2 div:nth-child(5) {
  width: 377px;
}

/* line 48, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns-2 div:nth-child(6) {
  width: 249px;
}

/* line 48, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns-2 div:nth-child(7) {
  width: 119px;
}

/* line 48, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns-2 div:nth-child(8) {
  width: 111px;
}

/* line 48, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns-2 div:nth-child(9) {
  width: 356px;
}

/* line 48, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns-2 div:nth-child(10) {
  width: 321px;
}

/* line 48, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns-2 div:nth-child(11) {
  width: 224px;
}

/* line 48, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns-2 div:nth-child(12) {
  width: 426px;
}

/* line 48, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns-2 div:nth-child(13) {
  width: 107px;
}

/* line 48, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns-2 div:nth-child(14) {
  width: 377px;
}

/* line 48, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns-2 div:nth-child(15) {
  width: 340px;
}

/* line 48, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns-2 div:nth-child(16) {
  width: 419px;
}

/* line 48, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns-2 div:nth-child(17) {
  width: 440px;
}

/* line 48, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns-2 div:nth-child(18) {
  width: 116px;
}

/* line 48, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns-2 div:nth-child(19) {
  width: 237px;
}

/* line 48, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns-2 div:nth-child(20) {
  width: 459px;
}

/* line 48, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns-2 div:nth-child(21) {
  width: 148px;
}

/* line 48, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns-2 div:nth-child(22) {
  width: 90px;
}

/* line 48, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns-2 div:nth-child(23) {
  width: 297px;
}

/* line 48, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns-2 div:nth-child(24) {
  width: 453px;
}

/* line 48, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns-2 div:nth-child(25) {
  width: 74px;
}

/* line 48, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns-2 div:nth-child(26) {
  width: 436px;
}

/* line 48, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns-2 div:nth-child(27) {
  width: 203px;
}

/* line 48, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns-2 div:nth-child(28) {
  width: 303px;
}

/* line 48, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns-2 div:nth-child(29) {
  width: 197px;
}

/* line 48, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns-2 div:nth-child(30) {
  width: 268px;
}

/* line 48, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns-2 div:nth-child(31) {
  width: 197px;
}

/* line 48, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns-2 div:nth-child(32) {
  width: 375px;
}

/* line 48, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns-2 div:nth-child(33) {
  width: 122px;
}

/* line 48, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns-2 div:nth-child(34) {
  width: 121px;
}

/* line 48, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns-2 div:nth-child(35) {
  width: 339px;
}

/* line 48, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-columns-2 div:nth-child(36) {
  width: 189px;
}

/* line 56, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 1000px;
}

/* line 61, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-flex div {
  width: auto;
  margin: 0 1rem 1rem 0;
}

/* line 71, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-flex div:nth-child(1) {
  height: 289px;
  line-height: 289px;
}

/* line 71, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-flex div:nth-child(2) {
  height: 491px;
  line-height: 491px;
}

/* line 71, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-flex div:nth-child(3) {
  height: 404px;
  line-height: 404px;
}

/* line 71, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-flex div:nth-child(4) {
  height: 417px;
  line-height: 417px;
}

/* line 71, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-flex div:nth-child(5) {
  height: 371px;
  line-height: 371px;
}

/* line 71, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-flex div:nth-child(6) {
  height: 393px;
  line-height: 393px;
}

/* line 71, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-flex div:nth-child(7) {
  height: 153px;
  line-height: 153px;
}

/* line 71, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-flex div:nth-child(8) {
  height: 269px;
  line-height: 269px;
}

/* line 71, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-flex div:nth-child(9) {
  height: 488px;
  line-height: 488px;
}

/* line 71, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-flex div:nth-child(10) {
  height: 226px;
  line-height: 226px;
}

/* line 71, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-flex div:nth-child(11) {
  height: 419px;
  line-height: 419px;
}

/* line 71, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-flex div:nth-child(12) {
  height: 409px;
  line-height: 409px;
}

/* line 71, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-flex div:nth-child(13) {
  height: 257px;
  line-height: 257px;
}

/* line 71, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-flex div:nth-child(14) {
  height: 402px;
  line-height: 402px;
}

/* line 71, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-flex div:nth-child(15) {
  height: 413px;
  line-height: 413px;
}

/* line 71, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-flex div:nth-child(16) {
  height: 151px;
  line-height: 151px;
}

/* line 71, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-flex div:nth-child(17) {
  height: 345px;
  line-height: 345px;
}

/* line 71, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-flex div:nth-child(18) {
  height: 336px;
  line-height: 336px;
}

/* line 71, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-flex div:nth-child(19) {
  height: 220px;
  line-height: 220px;
}

/* line 71, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-flex div:nth-child(20) {
  height: 423px;
  line-height: 423px;
}

/* line 71, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-flex div:nth-child(21) {
  height: 212px;
  line-height: 212px;
}

/* line 71, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-flex div:nth-child(22) {
  height: 254px;
  line-height: 254px;
}

/* line 71, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-flex div:nth-child(23) {
  height: 163px;
  line-height: 163px;
}

/* line 71, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-flex div:nth-child(24) {
  height: 458px;
  line-height: 458px;
}

/* line 71, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-flex div:nth-child(25) {
  height: 125px;
  line-height: 125px;
}

/* line 71, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-flex div:nth-child(26) {
  height: 101px;
  line-height: 101px;
}

/* line 71, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-flex div:nth-child(27) {
  height: 140px;
  line-height: 140px;
}

/* line 71, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-flex div:nth-child(28) {
  height: 146px;
  line-height: 146px;
}

/* line 71, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-flex div:nth-child(29) {
  height: 187px;
  line-height: 187px;
}

/* line 71, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-flex div:nth-child(30) {
  height: 206px;
  line-height: 206px;
}

/* line 71, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-flex div:nth-child(31) {
  height: 226px;
  line-height: 226px;
}

/* line 71, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-flex div:nth-child(32) {
  height: 454px;
  line-height: 454px;
}

/* line 71, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-flex div:nth-child(33) {
  height: 246px;
  line-height: 246px;
}

/* line 71, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-flex div:nth-child(34) {
  height: 239px;
  line-height: 239px;
}

/* line 71, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-flex div:nth-child(35) {
  height: 134px;
  line-height: 134px;
}

/* line 71, vendor/assets/MDB/scss/addons/_directives.scss */
.masonry-with-flex div:nth-child(36) {
  height: 463px;
  line-height: 463px;
}
