@import "bootstrap-sprockets";
@import "mdb/css/bootstrap";
@import "mdb/scss/core/variables";
@import "mdb/scss/core/mixins";
@import "mdb/scss/core/waves";
@import "mdb/scss/core/typography";
@import "mdb/scss/core/masks";
@import "mdb/scss/core/helpers";
@import "mdb/scss/core/colors";
@import "mdb/scss/core/global";
@import "mdb/css/mdb";
@import "variables";

textarea {
  resize: none;
}

.navbar {
  background: $desert-sand;

  #add-expense {
    border-radius: 0.25rem;
    background-color: $green-light;
    &:hover {
      color: black;
      background-color: $green-dark;
    }
  }

  .nav-link {
    font-size: 1.25em !important;
    text-decoration: none !important;

    &:hover:not(.dropdown-toggle):not(#add-expense) {
      color: $ruby-red;
    }
  }
}

.navbar-collapse {
  right: 0;
  left: auto !important;
  flex-grow: 0;
}

.datepicker-days, .datepicker table, .datepicker-inline {
  width: 100% !important;
}

#mydatepicker {
  border-radius: 0.2rem;
  border: 1px solid #ced4da;
}

#logo {
  font-size: 2rem;
}

.btn {
  color: black !important;
}

.text-right {
  text-align: right;
  width: fit-content;
}

.right {
  float: right;
}

.title {
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin-bottom: 2rem;
    font-family: "Raleway", helvetica, arial, verdana, sans-serif;;
  }

  margin-bottom: 40px;

  .inline-flex {
    align-content: center;
  }
}

.content {
  margin: 0 25%;
}

.inline-flex {
  display: inline-flex;
  align-items: flex-end;
  vertical-align: bottom;
  width: 100%;
}

#expenses-table {
  min-width: 853px;
}

.table-fixed thead {
  width: 97%;
}

.table-fixed tfoot {
  width: 97%;
}

.table-fixed tbody {
  height: 330px;
  overflow-y: auto;
  width: 100%;
  border-bottom: #666666 solid 2px !important;
  border-top: #666666 solid 2px !important;
}

.table-fixed thead, .table-fixed tbody, .table-fixed tfoot, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}

.table-fixed tbody td {
  float: left;
  border-bottom-width: 0;
}

.table-fixed thead > tr > th, .table-fixed tfoot > tr > th {
  float: left;
  border-bottom-width: 0;
}

td, th {
  display: table-cell !important;
  vertical-align: middle !important;
  align-content: center !important;
}

