// Place all the styles related to the Expenses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
.input-group {
  width: fit-content !important;
  .input-group-addon {
    margin: 0;
    padding: 0;
  }
}*/

.filter {
  width: 200px;
}

th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

